<% provide(:title, "Referat") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | libr2020</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the Referat page for the

 <a href="libr2020.asf.dp.ua/">libr2020.asf.dp.ua</a>
  sample application.

</p>
  </p>
  </body>
</html>
