#Листинг 10.44: Текстовый шаблон электронного письма для сброса пароля. app/views/user_mailer/password_reset.text.erb

Для сброса пароля перейдите по ссылке:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Срок действия ссылки истекает через два часа.

Если вы не запрашивали сброс пароля, пожалуйста игнорируйте это письмо, ваш пароль
останется без изменений.

