<style>
  form button {
    text-shadow: none;
  }
</style>
<!--
<%#= render partial: 'common/header', locals: {active: 'articles'} %>
-->
<div id="modal-container">

</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Список статей</h1>
  </div>

  <form method="GET">
    <div class="col-xs-4" style="min-width: 250px;">
      <label for="chapter_id">Раздел</label><br>
      <%= select_tag 'chapter_id',
                     options_from_collection_for_select(@chapters, 'id', 'title', params[:chapter_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     id: 'chapter_selector' %>
    </div>
    <div class="col-xs-4 input-group">
      <label for="author">Автор</label><br>
      <%= text_field_tag(:author, params[:author]) %>
    </div>

    <div class="col-xs-4" style="min-width: 250px;">
      <label for="review_id">Обзор</label><br>
      <%= select_tag 'review_id',
                     options_from_collection_for_select(@reviews, 'id', 'title', params[:review_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     id: 'review_selector' %>
    </div>
    <div class="col-xs-4 input-group">
      <label for="title">Заголовок</label><br>
      <%= text_field_tag(:title, params[:title]) %>
    </div>

    <div class="col-xs-4" style="min-width: 250px;">
      <label for="section_id">Секция</label><br>
      <%= select_tag 'section_id',
                     options_from_collection_for_select(@sections, 'id', 'title', params[:section_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     title: 'Все',
                     id: 'section_selector' %>
    </div>
    <div class="col-xs-5" style="padding-left: 0; padding-right: 0;">
      <label for="section_id">Журнал</label><br>
      <%= select_tag 'journal_id',
                     options_from_collection_for_select(@journals, 'id', 'title', params[:journal_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     title: 'Все',
                     id: 'journal_selector' %>
    </div>


    <div class="col-xs-4" style="min-width: 250px;">
      <label for="subsection_id">Подсекция</label><br>
      <%= select_tag 'subsection_id',
                     options_from_collection_for_select(@subsections, 'id', 'title', params[:subsection_id]),
                     prompt: 'Все',
                     class: 'selectpicker',
                     title: 'Все',
                     id: 'subsection_selector' %>
    </div>

    <div class="col-xs-4 input-group">
      <label>&nbsp;</label><br>
      <button type="submit" class="btn btn-success">Найти</button>
    </div>

  </form>

  <div>
    <div class="col-xs-12 text-right">
      Найдено: <%= @total_results %>
    </div>
    <div class="col-xs-12">
      <table class="table table-striped">
        <%= render @articles %>
      </table>
    </div>

    <div class="col-xs-10 col-xs-offset-1 text-center">
      <%#= paginate @articles %>
    </div>
  </div>


</div>

<script type="text/javascript" charset="utf-8">

  var chapterSelector = $('#chapter_selector');
  var reviewSelector = $('#review_selector');
  var sectionSelector = $('#section_selector');

  chapterSelector.change(function() {
    getSubcategoriesByCategory('/api/reviews_by_chapter', {'chapter_id': this.value}, '#review_selector');
  });

  reviewSelector.change(function() {
    getSubcategoriesByCategory('/api/sections_by_review', {'review_id': this.value}, '#section_selector');
  });

  sectionSelector.change(function() {
    getSubcategoriesByCategory('/api/subsections_by_section', {'section_id': this.value}, null);
  });

  function getSubcategoriesByCategory(apiUrl, data, triggerSelector) {
    $.post(apiUrl, data,
        function() {
          $(triggerSelector).change();
          $(triggerSelector).selectpicker('refresh');
        }
    );
  }

  $('tr').click(function() {
    $.get('/articles/' + this.getAttribute('article-id'));
  });

  $('select').selectpicker();

</script>
