#Листинг 9.2: Представление для редактирования пользователя app/views/users/#edit.html.erb  :11.42
<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>#Листинг 11.42: :edit

 <section class="student_form">
                  <%#= render 'shared/student_form' %>
                </section>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

<%= f.label :userid!%>
 <%= f.text_field :id, class: 'form-control' %>

<%= f.label :studentxid %>
 <%#= f.text_field :user_id, class: 'form-control' %>


<%# @user ||= current_user %>

<%#= @user.student.user_id   %>

<%= @user.id   %>




#stud_id = <%#= @user.student.id %><p>

<%#= @user.microposts.id %><p>


      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%#= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>

