#March_21 12-04  2021 http://rusrails.ru/rails-form-helpers
 Students:

<%#= form_with model: @user do |form| %>
 
  <ul>
    <%#= form.fields_for :students do |students_form| %>

      <li>
        <%#= students_form.label :fio %>
        <%#= students_form.text_field :fio %>

        <%#= students_form.label :user_id %>
        <%#= students_form.text_field :user_id %>
        
      </li>
    <%# end %>
  </ul>
<% #end %>
